<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebpacker Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'app' %>
    <%= javascript_pack_tag 'app', defer: true %>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>